<ion-content [fullscreen]="true">

  <div class="container">
    <div class="bg-image">
      <ion-img src="/assets/images/headphones.jpg" alt="Headphones"></ion-img>

      <div class="profile-img">
        <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg">
        </ion-img>
      </div>

      <div class="profile-name">
        <h4>Hamza Sheikh.</h4>
      </div>

      <div class="intro">
        <p>#1 Gamer | Gaming</p>
      </div>

      <div class="follow-details">
        <ion-row>
          <ion-col><p>256</p></ion-col>
          <ion-col><p>22.4K</p></ion-col>
          <ion-col><p>10K</p></ion-col>
        </ion-row>
      </div>
      <br>
      <div class="follow-details-pro">
        <ion-row>
          <ion-col><p>Following</p></ion-col>
          <ion-col><p>Followers</p></ion-col>
          <ion-col><p>Likes</p></ion-col>
        </ion-row>
      </div>






    </div>





  </div>

</ion-content>