<ion-content [fullscreen]="true">

  <div class="container">
    <div class="bg-image">
      <ion-img src="/assets/images/headphones.jpg" alt="Headphones"></ion-img>

      <div class="profile-img">
        <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg">
        </ion-img>
      </div>

      <div class="profile-header">
        <h1 class="profile-name">Hamza Sheikh</h1>
        <p class="profile-subtitle">#1 Gamer | Gaming</p>
      </div>

    </div>

    <div class="stats-container">
      <div class="stat-item">
        <div class="stat-value">256</div>
        <div class="stat-label">Following</div>
      </div>
      <div class="stat-item">
        <div class="stat-value">22.4k</div>
        <div class="stat-label">Followers</div>
      </div>
      <div class="stat-item">
        <div class="stat-value">10k</div>
        <div class="stat-label">Likes</div>
      </div>
    </div>
  </div>

  <div class="btn-container">
    <button class="btn-1">Follow</button>
    <button class="btn-2">Message</button>
  </div>





</ion-content>