<ion-content [fullscreen]="true">

  <div class="container">

    <div class="brand-name">SOO HELP</div>

    <div class="person-one"> <img class="img-person" src="/assets/person-fourth.jpg" alt="" srcset=""></div>
    <div class="person-two"><img class="img-person" src="/assets/person-fourth.jpg" alt="" srcset=""></div>
    <div class="person-three"><img class="img-person" src="/assets/person-fourth.jpg" alt="" srcset=""></div>
    <div class="person-fourth"><img class="img-person" src="/assets/person-fourth.jpg" alt="" srcset=""></div>
    <div class="person-fifth"><img class="img-person" src="/assets/person-fourth.jpg" alt="" srcset=""></div>

    <div class="transparent-box">
      <div class="connect">
        <h1>Lets <br> Connect <br> Together</h1>
      </div>
    </div>

    <div class="btn-space">
      <div class="btn-1"><button>UserName</button></div>
      <div class="btn-2"><button>Password</button></div>
    </div>

  </div>


</ion-content>